dashboard: true

service:
  type: LoadBalancer
  loadBalancerIP: 192.168.68.153
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.68.153

log:
  level: DEBUG
  format: json

accessLog:
  enabled: true
  format: json
  filters:
    statusCodes:
      - "200-299"
      - "300-399"
      - "400-499"
      - "500-599"
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep

metrics:
  prometheus:
    enabled: true
    entryPoint: metrics

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    tls:
      enabled: true
  metrics:
    port: 9100
    expose:
      default: true
    exposedPort: 9100
    protocol: TCP

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: [web, websecure]
    matchRule: Host(`traefik.homelab.azuanz.com`)
