apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: bazarr
  namespace: media
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`bazarr.homelab.azuanz.com`)
      kind: Rule
      services:
        - name: bazarr
          port: 6767
  tls:
    secretName: homelab-certificate-secret
